@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  // border: 1px solid black;
  background-color: white;
  width: 100%;
  min-height: calc(100vh - 100px);
  position: absolute;
  top: 100px;

  //🍺🍺🍺
  .barrelSection {
    // border: 5px solid red;
    width: 100%;
    // padding: calc(100px + 5rem) 5rem 5rem;
    // padding: calc(100px + 3rem) 5rem 3rem;
    // padding: calc(100px + 3rem) 3rem 3rem;
    padding: calc(100px + 3rem) 2.5rem 3rem;
    background-image: url("/image/all-menu/barrel.jpg"); //🔥
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    @include center;
    flex-direction: column;

    &::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
    }

    .sectionTitle {
      // border: 5px solid blue;
      width: 100%;
      padding-bottom: 3rem;
      @include center;
      flex-direction: column;
      position: relative; //🔥
      z-index: 1;
      color: white;
    }

    .menuBox {
      position: relative; //🔥
      z-index: 1;
      // border: 3px solid greenyellow;
      width: 100%;
      flex-wrap: wrap;
      @include center;
      // padding: 1rem;

      .menuItem {
        // border: 3px solid orange;
        background-color: white;
        box-shadow: 5px 5px 10px gray;
        border-radius: 5px;
        border-radius: 10px;
        // border: 3px solid red;
        // width: calc(33% - 3rem);
        // margin: 0 1.5rem 2rem;
        // width: calc(33% - 2rem);
        // margin: 0 1rem 2rem;
        width: calc(33% - 3rem); //🔥
        margin: 0 1.5rem 2rem; //🔥
        @include center;
        flex-direction: column;
        padding: 1rem 0.8rem;

        .title {
          // border: 3px solid blue;
          width: 100%;
          @include center;
          font-size: 1rem; //🔥
          font-weight: bold;
          padding: 0.5rem 0;
        }

        .price {
          // border: 3px solid greenyellow;
          width: 100%;
          @include center;
          font-size: 0.8rem;
          padding: 0.5rem 0;
        }

        .product {
          // border: 3px solid orange;
          width: 100%;
          @include center;
          font-size: 0.8rem;
          padding: 0.5rem 0 1.5rem;
        }

        .image {
          // border: 3px solid magenta;
          width: 100%;
          height: 200px;
          position: relative;
        }

        .button {
          width: 100%;
          @include center;
          padding: 1.5rem 0 1rem;
        }
      }
    }
  }

  //🍻🍻🍻
  // .bottleSection {
  //   border: 3px solid greenyellow;
  //   width: 100%;
  //   min-height: calc(100vh - 100px);
  // }

  //🍷🍷🍷
  // .cocktailSection {
  //   border: 3px solid orange;
  //   width: 100%;
  //   min-height: calc(100vh - 100px);
  // }
}

@media screen and (max-width: 1200px) {
  .body {
    // border: 3px solid red;
    min-height: calc(100vh - 100px);

    //🍺🍺🍺
    .barrelSection {
      padding: calc(100px + 3rem) 2.5rem 3rem;

      .menuBox {
        .menuItem {
          width: calc(33% - 2rem); //🔥
          margin: 0 1rem 2rem; //🔥

          .title {
            font-size: 0.85rem; //🔥
            padding: 0.5rem 0;
          }

          .price {
            font-size: 0.8rem;
            padding: 0.5rem 0;
          }

          .product {
            font-size: 0.8rem;
            padding: 0.5rem 0 1.5rem;
          }

          .image {
            height: 200px;
          }

          .button {
            padding: 1.5rem 0 1rem;
          }
        }
      }
    }
  }
}

//2列表示2列表示2列表示2列表示2列表示
@media screen and (max-width: 1024px) {
  .body {
    // border: 3px solid blue;
    min-height: calc(100vh - 100px);

    //🍺🍺🍺
    .barrelSection {
      padding: calc(100px + 3rem) 2rem 3rem;

      .menuBox {
        .menuItem {
          // width: calc(50% - 3rem); //🔥
          // margin: 0 1.5rem 2rem; //🔥
          width: calc(50% - 2rem); //🔥
          margin: 0 1rem 2rem; //🔥
          padding: 1rem 0.8rem;

          .title {
            font-size: 0.85rem; //🔥
            font-size: 0.9rem; //🔥
            font-size: 1rem; //🔥
            padding: 0.5rem 0;
          }

          .price {
            font-size: 0.8rem;
            padding: 0.5rem 0;
          }

          .product {
            font-size: 0.8rem;
            padding: 0.5rem 0 1.5rem;
          }

          .image {
            height: 200px;
          }

          .button {
            padding: 1.5rem 0 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .body {
    // border: 3px solid greenyellow;
    min-height: calc(100vh - 100px);

    //🍺🍺🍺
    .barrelSection {
      // padding: calc(100px + 3rem) 2.5rem 3rem;
      padding: calc(100px + 3rem) 2rem 3rem;

      .menuBox {
        .menuItem {
          width: calc(50% - 2rem); //🔥
          margin: 0 1rem 2rem; //🔥
          padding: 1rem 0.8rem;

          .title {
            font-size: 0.8rem; //🔥
            padding: 0.5rem 0;
          }

          .price {
            font-size: 0.8rem;
            padding: 0.5rem 0;
          }

          .product {
            font-size: 0.8rem;
            padding: 0.5rem 0 1.5rem;
          }

          .image {
            height: 200px;
            // height: 150px;
          }

          .button {
            padding: 1.5rem 0 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .body {
    // border: 3px solid greenyellow;
    min-height: calc(100vh - 100px);

    //🍺🍺🍺
    .barrelSection {
      // padding: calc(100px + 3rem) 2.5rem 3rem;
      padding: calc(100px + 3rem) 2rem 3rem;

      .menuBox {
        .menuItem {
          width: 80%; //🔥
          margin: 0 0rem 2rem;
          padding: 1rem 0.8rem;

          .title {
            font-size: 0.9rem; //🔥
            font-size: 1rem; //🔥
            padding: 0.5rem 0;
          }

          .price {
            // font-size: 0.8rem;
            font-size: 0.9rem; //🔥
            padding: 0.5rem 0;
          }

          .product {
            // font-size: 0.8rem;
            font-size: 0.9rem; //🔥
            padding: 0.5rem 0 1.5rem;
          }

          .image {
            height: 200px;
          }

          .button {
            padding: 1.5rem 0 1rem;
          }
        }
      }
    }
  }
}
