@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin parts {
  width: 100%;
  padding: calc(100px + 3rem) 2.5rem 3rem;
  background-image: url("/image/all-menu/barrel.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  @include center;
  flex-direction: column;

  &::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }

  .sectionTitle {
    width: 100%;
    padding-bottom: 3rem;
    @include center;
    flex-direction: column;
    position: relative; //🔥
    z-index: 1;
    color: white;
  }

  .menuBox {
    position: relative; //🔥
    z-index: 1;
    width: 100%;
    flex-wrap: wrap;
    @include center;

    .menuItem {
      background-color: white;
      box-shadow: 5px 5px 10px gray;
      border-radius: 10px;
      width: calc(33% - 3rem);
      margin: 0 1.5rem 2rem;
      @include center;
      flex-direction: column;
      padding: 1rem 0.8rem;

      .title {
        width: 100%;
        @include center;
        font-size: 1rem;
        font-weight: bold;
        // padding: 0.5rem 0;
        padding: 1rem 0; //🔥
      }

      .about {
        width: 100%;
        @include center;
        flex-direction: column;

        .price {
          width: 100%;
          @include center;
          font-size: 0.8rem;
          // padding: 0.5rem 0;
          padding: 1rem 0; //🔥
        }

        .product {
          width: 100%;
          @include center;
          font-size: 0.8rem;
          // padding: 0.5rem 0 1.5rem;
          padding: 1rem 0; //🔥
        }
      }

      .image {
        width: 100%;
        height: 200px;
        position: relative;
      }

      .button {
        width: 100%;
        @include center;
        // padding: 1.5rem 0 1rem;
        padding: 1rem 0; //🔥
        padding: 1.5rem 0 1rem;
        padding: 2rem 0 1rem;
      }
    }
  }
}

.body {
  background-color: white;
  width: 100%;
  min-height: calc(100vh - 100px);
  position: absolute;
  top: 100px;

  //🍺🍺🍺
  .barrelSection {
    @include parts;
    background-image: url("/image/all-menu/barrel.jpg");

    .menuBox {
      .menuItem {
        .image {
          height: 200px; //🔥🔥🔥
        }
      }
    }
  }

  //🍻🍻🍻
  .bottleSection {
    @include parts;
    background-image: url("/image/all-menu/bottle.jpg");

    .menuBox {
      .menuItem {
        .title {
          font-size: 0.9rem;
        }

        .image {
          height: 200px; //🔥🔥🔥
        }
      }
    }
  }

  //🍷🍷🍷
  .cocktailSection {
    @include parts;
    background-image: url("/image/all-menu/cocktail.jpg"); //🔥

    .menuBox {
      .menuItem {
        .image {
          height: 200px; //🔥🔥🔥
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .body {
    .barrelSection,
    .bottleSection,
    .cocktailSection {
      padding: calc(100px + 3rem) 2.5rem 3rem;

      .menuBox {
        .menuItem {
          width: calc(33% - 2rem);
          margin: 0 1rem 2rem;

          .title {
            font-size: 0.85rem;
          }
        }
      }
    }

    .bottleSection {
      .menuBox {
        .menuItem {
          .title {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

//2列表示2列表示2列表示2列表示2列表示
@media screen and (max-width: 1024px) {
  .body {
    .barrelSection,
    .bottleSection,
    .cocktailSection {
      padding: calc(100px + 3rem) 2rem 3rem;

      .menuBox {
        .menuItem {
          width: calc(50% - 2rem);

          .title {
            font-size: 1rem;
          }
        }
      }
    }

    .bottleSection {
      .menuBox {
        .menuItem {
          .title {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .body {
    // border: 3px solid red;
    .barrelSection,
    .bottleSection,
    .cocktailSection {
      .menuBox {
        .menuItem {
          width: calc(50% - 1.6rem);
          margin: 0 0.8rem 2rem;

          .title {
            font-size: 0.8rem;
          }

          .image {
            height: 200px; //🔥🔥🔥
          }
        }
      }
    }

    .bottleSection {
      .menuBox {
        .menuItem {
          .title {
            font-size: 0.77rem;
          }
        }
      }
    }

    .bottleSection,
    .cocktailSection {
      .menuBox {
        .menuItem {
          .image {
            height: 200px; //🔥🔥🔥
          }
        }
      }
    }
  }
}

//1列表示1列表示1列表示1列表示
@media screen and (max-width: 650px) {
  .body {
    .barrelSection,
    .bottleSection,
    .cocktailSection {
      padding: calc(100px + 3rem) 3rem 3rem;

      .sectionTitle {
        width: 90%;
      }

      .menuBox {
        width: 90%;

        .menuItem {
          width: 100%;
          margin: 0 0rem 2rem;

          .title {
            font-size: 1.1rem;
            padding: 1rem 0;
          }

          .about {
            width: 100%;
            @include center;
            flex-direction: row;
            padding: 1rem 0;

            .price {
              font-size: 0.8rem;
              padding: 0;
              width: auto;
              margin-right: 1.5rem;
            }

            .product {
              font-size: 0.8rem;
              padding: 0;
              width: auto;
            }
          }

          .image {
            height: 240px; //🔥🔥🔥
          }

          .button {
            // padding: 1rem 0;
            padding: 2rem 0 1rem;
          }
        }
      }
    }

    .bottleSection,
    .cocktailSection {
      .menuBox {
        .menuItem {
          .image {
            height: 240px; //🔥🔥🔥
          }
        }
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .body {
    .barrelSection,
    .bottleSection,
    .cocktailSection {
      .sectionTitle {
        width: 100%;
      }

      .menuBox {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .body {
    .barrelSection,
    .bottleSection,
    .cocktailSection {
      .menuBox {
        .menuItem {
          .title {
            font-size: 0.9rem;
          }

          .price {
            font-size: 0.8rem;
          }

          .product {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

// モバイル仕様

@media screen and (max-width: 480px) {
  .body {
    min-height: calc(100vh - 80px);
    top: 80px;

    .barrelSection,
    .bottleSection,
    .cocktailSection {
      padding: calc(130px + 3rem) 2rem 3rem;

      .sectionTitle {
        padding-bottom: 2rem;

        h4 {
          font-size: 0.8rem;
        }

        h1 {
          font-size: 1.3rem;
        }
      }

      .menuBox {
        .menuItem {
          width: 100%;

          .title {
            font-size: 1rem;
          }

          .about {
            flex-direction: column;

            .price {
              margin-right: 0;
              margin-bottom: 1rem;
              font-size: 0.8rem;
            }

            .product {
              font-size: 0.8rem;
            }
          }
        }
      }
    }

    .bottleSection {
      .menuBox {
        .menuItem {
          .title {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .body {
    .barrelSection,
    .bottleSection,
    .cocktailSection {
      .sectionTitle {
        h4 {
          font-size: 0.7rem;
        }

        h1 {
          font-size: 1.2rem;
        }
      }

      .menuBox {
        .menuItem {
          width: 100%;

          .title {
            font-size: 0.8rem;
          }

          .price {
            font-size: 0.75rem;
          }

          .product {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .body {
    .barrelSection,
    .bottleSection,
    .cocktailSection {
      .menuBox {
        .menuItem {
          width: 100%;

          .title {
            font-size: 0.75rem;
          }
        }
      }
    }

    .bottleSection {
      .menuBox {
        .menuItem {
          .title {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}
