@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

@mixin after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  content: "";
}

@mixin sectionTitle {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  @include center;
  flex-direction: column;
  color: white;

  @media screen and (max-width: 1024px) {
    h4 {
      font-size: 0.8rem;
    }

    h1 {
      font-size: 1.3rem;
    }
  }

  @media screen and (max-width: 768px) {
    h4 {
      font-size: 0.7rem;
    }
    h1 {
      font-size: 1.1rem;
    }
  }

  @media screen and (max-width: 480px) {
    h4 {
      font-size: 0.6rem;
    }
    h1 {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 350px) {
    h4 {
      font-size: 0.6rem;
    }
    h1 {
      font-size: 0.9rem;
    }
  }
}

//游댠游댠游댠游댠游댠游댠游댠游댠游댠游댠游댠游댠游댠游댠游댠游댠游댠

.body {
  width: 100%;
  height: calc(100vh - 100px);
  position: fixed;
  top: 100px;
  background-image: url("/image/blog-link.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::after {
    @include after;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .titleSection {
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 10;

    @include center;

    &::after {
      @include after;
      background-color: rgba(0, 0, 0, 0.6);
    }

    .blogSectionTitle {
      @include sectionTitle;
      width: calc(100% - 250px);
      padding-right: 80px;
    }

    .archiveSectionTitle {
      @include sectionTitle;
      width: 250px;
    }
  }

  .outline {
    // border: 3px dashed white;
    width: 100%;
    height: calc(100vh - 200px);
    position: relative;
    z-index: 10;

    .mainSection {
      // border: 5px solid greenyellow;
      width: 100%;
      height: calc(100vh - 200px);
      overflow: scroll;

      // 游댮游댮游댮游댮游댮游댮游댮游댮游댮
      .archiveSection {
        // border: 3px solid red;
        width: 250px;
        height: calc(100vh - 240px);
        position: absolute;
        right: 0;
        color: white;

        .archiveSectionTitleHidden {
          display: none;
        }

        ul {
          // border: 3px solid blue;
          list-style: none;
          width: 100%;
          height: calc(100% - 3rem);
          padding: 2rem 2rem 0 0;
          overflow: scroll;

          li {
            // border: 3px solid greenyellow;
            margin-bottom: 2rem;
            border-radius: 10px;

            .link {
              background-color: darkorange;
              width: 100%;
              height: 100%;
              padding: 1rem;
              border-radius: 10px;
              font-weight: bold;
              @include center;

              &:hover {
                background-color: orange;
                transition: 300ms;
              }
            }
          }
        }
      }

      // 游댯游댯游댯游댯游댯游댯游댯游댯游댯
      .scrollSection {
        // border: 3px solid blue;
        width: 80px;
        height: calc(100vh - 240px);
        padding-bottom: 3rem;
        position: absolute;
        right: 250px;
        overflow: hidden;
        @include center;
        align-items: flex-end;

        .scroll {
          // border: 3px solid blue;
          @include center;
          flex-direction: column;

          .scrollTop,
          .scrollDown {
            color: white;
            width: 35px;
            height: 35px;

            &:hover {
              color: orangered;
              transition: 300ms;
            }
          }

          .scrollTop {
            margin-bottom: 0.5rem;
          }
        }
      }

      // 游눍游눍游눍游눍游눍游눍游눍游눍游눍
      .outlineSection {
        width: 100%;

        // 游멇멇멇멇멇멇멇멇
        .blogSection {
          // border: 5px solid orange;
          width: calc(100% - 330px);
          min-height: calc(100vh - 240px);
          padding: 2rem 0 3rem 2rem;

          @include center;
          flex-direction: column;

          .link:nth-last-child(1) {
            margin-bottom: 0;
          }

          //救넖잺救넖잺救넖잺救넖잺救넖잺救넖잺救넖잺救넖잺救넖잺救넖잺救넖잺救넖잺救넖잺救넖잺救넖잺
          .link {
            // border: 3px solid red;
            width: 100%;
            margin-bottom: 3rem;
            border-radius: 10px;
            display: flex;

            .blog {
              // border: 3px solid blue;
              background-color: white;
              width: 100%;
              padding: 1rem;
              border-radius: 10px;
              box-shadow: 5px 5px 10px gray;
              @include center;

              &:hover {
                background-color: #dddddd;
                transition: 300ms;
              }

              .articleBox {
                // border: 3px solid greenyellow;
                width: calc(100% - 225px);
                min-height: 150px;
                padding: 1rem;

                @include center;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                .title {
                  // border: 3px solid blue;
                  font-weight: bold;
                  font-size: 1.2rem;
                  margin-bottom: 1rem;
                }

                .publishedAt {
                  // border: 3px solid greenyellow;
                  font-size: 1rem;
                }
              }

              .imageBox {
                // border: 3px solid magenta;
                width: 225px;
                height: 150px;

                .image {
                  width: 100%;
                  height: 100%;
                  position: relative;
                }
              }
            }
          }
        }
      }
    }
  }
}

//游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮

@media screen and (max-width: 1024px) {
  .body {
    .titleSection {
      height: 80px;

      .blogSectionTitle {
        width: 100%;
        padding-right: 0;
      }

      .archiveSectionTitle {
        display: none;
      }
    }

    .outline {
      height: calc(100vh - 180px);

      .mainSection {
        height: calc(100vh - 180px);

        .archiveSection {
          width: 100%;
          height: 100px;
          position: relative;
          padding: 1.5rem 2rem 0;
          @include center;

          .archiveSectionTitleHidden {
            @include sectionTitle;
            width: auto;
          }

          ul {
            height: 100%;
            padding: 0rem;
            @include center;
            justify-content: flex-start;
            flex-wrap: wrap;

            li {
              margin: 0 1rem 1rem;
              width: calc(33% - 2rem);

              .link {
                padding: 0.8rem;
                font-size: 0.9rem;
              }
            }
          }
        }

        .scrollSection {
          width: 100%;
          height: 85px;
          padding: 1.5rem 2rem;

          right: 0px;
          position: relative;
          @include center;
          justify-content: flex-end;

          .scroll {
            flex-direction: row;

            .scrollTop,
            .scrollDown {
              width: 30px;
              height: 30px;
            }

            .scrollTop {
              margin-bottom: 0rem;
              margin-right: 0.5rem;
            }
          }
        }

        .outlineSection {
          // border: 2px dashed greenyellow;
          overflow: scroll;
          position: relative;
          height: calc(100vh - 365px);

          .blogSection {
            // border: 2px dashed orange;
            width: 100%;
            min-height: calc(100vh - 405px);
            padding: 0 2rem 3rem;

            .link {
              .blog {
                .articleBox {
                  width: calc(100% - 195px);
                  min-height: 130px;

                  .title {
                    font-size: 1.1rem;
                  }

                  .publishedAt {
                    font-size: 0.9rem;
                  }
                }

                .imageBox {
                  width: 195px; //游댠
                  height: 130px; //游댠
                }
              }
            }
          }
        }
      }
    }
  }
}

// 游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯

@media screen and (max-width: 768px) {
  .body {
    .outline {
      .mainSection {
        .archiveSection {
          ul {
            li {
              width: calc(50% - 2rem);
            }
          }
        }

        .outlineSection {
          // border: 2px dashed red;
          height: calc(100vh - 365px);

          .blogSection {
            // border: 2px dashed blue;
            min-height: calc(100vh - 395px);
            .link {
              // border: 3px solid red;

              .blog {
                // border: 3px solid blue;
                padding: 0.8rem;

                .articleBox {
                  // border: 3px solid greenyellow;
                  width: calc(100% - 165px);
                  min-height: 110px;
                  padding: 0.5rem;

                  .title {
                    font-size: 0.9rem;
                  }

                  .publishedAt {
                    font-size: 0.8rem;
                  }
                }

                .imageBox {
                  // border: 3px solid orange;
                  width: 165px;
                  height: 110px;
                }
              }
            }
          }
        }
      }
    }
  }
}

// 游릭游릭游릭游릭游릭游릭游릭游릭游릭游릭游릭游릭游릭游릭游릭游릭游릭

@media screen and (max-width: 550px) {
  .body {
    // border: 3px solid white;
    .outline {
      .mainSection {
        .archiveSection {
          ul {
            @include center;
            li {
              width: calc(80% - 2rem);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .body {
    height: calc(100vh - 80px);
    top: 80px;

    .titleSection {
      height: 60px;
    }

    .outline {
      // border: 2px solid red;
      height: calc(100vh - 140px);

      .mainSection {
        height: calc(100vh - 140px);

        .archiveSection {
          height: 100px; //游댠

          ul {
            li {
              .link {
                padding: 0.6rem;
                font-size: 0.8rem;
              }
            }
          }
        }

        .scrollSection {
          height: 65px;
          padding: 1rem 2rem;

          .scroll {
            .scrollTop,
            .scrollDown {
              width: 25px;
              height: 25px;
            }
          }
        }

        .outlineSection {
          height: calc(100vh - 305px);

          .blogSection {
            min-height: calc(100vh - 335px);

            .link {
              width: 90%;
              width: auto; //游눍

              .blog {
                // border: 3px solid red;
                flex-direction: column;

                .articleBox {
                  // border: 3px solid blue;
                  width: 100%;
                  min-height: auto;
                  @include center;
                  padding: 0rem;
                  margin-bottom: 0.8rem;

                  .title {
                    margin-bottom: 0.8rem;
                  }
                }

                .imageBox {
                  // border: 3px solid orange;
                  width: 300px;
                  height: 200px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .body {
    .outline {
      .mainSection {
        .archiveSection {
          ul {
            li {
              width: calc(95% - 2rem);
            }
          }
        }

        .outlineSection {
          .blogSection {
            .link {
              // width: 100%;

              .blog {
                .imageBox {
                  // width: 240px;
                  // height: 160px;

                  width: 255px;
                  height: 170px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .body {
    .outline {
      .mainSection {
        .archiveSection {
          ul {
            li {
              width: calc(100% - 2rem);
            }
          }
        }

        .outlineSection {
          .blogSection {
            .link {
              .blog {
                .articleBox {
                  .title {
                    font-size: 0.8rem;
                  }

                  .publishedAt {
                    font-size: 0.7rem;
                  }
                }
                .imageBox {
                  width: 225px;
                  height: 150px;
                }
              }
            }
          }
        }
      }
    }
  }
}
