@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

@mixin after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  content: "";
}

@mixin sectionTitle {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  @include center;
  flex-direction: column;
  color: white;

  @media screen and (max-width: 1024px) {
    h4 {
      font-size: 0.8rem;
    }

    h1 {
      font-size: 1.3rem;
    }
  }

  @media screen and (max-width: 768px) {
    h4 {
      font-size: 0.7rem;
    }
    h1 {
      font-size: 1.1rem;
    }
  }
}

//游댠游댠游댠游댠游댠游댠游댠游댠游댠游댠游댠游댠游댠游댠游댠游댠游댠

.body {
  width: 100%;
  height: calc(100vh - 100px);
  position: fixed;
  top: 100px;
  background-image: url("/image/blog-link.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::after {
    @include after;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .titleSection {
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 10;
    @include center;

    &::after {
      @include after;
      background-color: rgba(0, 0, 0, 0.6);
    }

    .blogSectionTitle {
      @include sectionTitle;
      width: calc(100% - 250px);
      padding-right: 80px;
    }

    .archiveSectionTitle {
      @include sectionTitle;
      width: 250px;
    }
  }

  .outline {
    width: 100%;
    height: calc(100vh - 200px);
    position: relative;
    z-index: 10;

    .mainSection {
      width: 100%;
      height: calc(100vh - 200px);
      overflow: scroll;

      .archiveSection {
        // border: 3px solid red;
        width: 250px;
        height: calc(100vh - 240px);
        position: absolute;
        right: 0;
        color: white;

        .archiveSectionTitleHidden {
          display: none;
        }

        ul {
          // border: 3px solid blue;
          list-style: none;
          width: 100%;
          height: 100%;
          height: calc(100% - 5rem);
          padding: 2rem 2rem 0 0;
          overflow: scroll;

          li {
            // border: 3px solid greenyellow;
            margin-bottom: 2rem;
            border-radius: 10px;

            .link {
              background-color: darkorange;
              width: 100%;
              height: 100%;
              padding: 1rem;
              border-radius: 10px;
              font-weight: bold;
              @include center;

              &:hover {
                background-color: orange;
                transition: 300ms;
              }
            }
          }
        }
      }

      .scrollSection {
        // border: 3px solid red;
        width: 80px;
        height: calc(100vh - 240px);
        padding-bottom: 5rem;
        position: absolute;
        right: 250px;

        overflow: hidden;
        @include center;
        align-items: flex-end;

        .scroll {
          // border: 3px solid blue;
          @include center;
          flex-direction: column;

          .scrollTop,
          .scrollDown {
            color: white;
            width: 35px;
            height: 35px;

            &:hover {
              color: orangered;
              transition: 300ms;
            }
          }

          .scrollTop {
            margin-bottom: 0.5rem;
          }
        }
      }

      .blogSection {
        // border: 3px solid red;
        width: calc(100% - 330px);
        min-height: calc(100vh - 240px);
        padding: 2rem 0 5rem 2rem;

        h1 {
          color: white;
          font-size: 2rem;
        }

        .blog:nth-last-child(1) {
          margin-bottom: 0;
        }

        .blog {
          // border: 3px solid red;
          background-color: white;
          width: 100%;
          // padding: 2rem;
          padding: 1rem; //游댠
          padding: 1.5rem; //游댠
          margin-bottom: 2rem;
          border-radius: 10px;
          @include center;

          .articleBox {
            // border: 3px solid blue;
            width: calc(100% - 225px);
            min-height: 150px;

            @include center;
            flex-direction: column;

            .article {
              // border: 3px solid orange;
              width: 100%;
              min-height: 85px; //游댠
              padding: 0.5rem; //游댠
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              .title {
                // border: 3px solid blue;
                font-weight: bold;
                font-size: 1.2rem;
              }

              .publishedAt {
                // border: 3px solid greenyellow;
                font-size: 1rem;
              }
            }

            .button {
              // border: 3px solid greenyellow;
              width: 100%;
              min-height: 65px; //游댠
              @include center;
            }
          }

          .imageBox {
            // border: 3px solid magenta;
            width: 270px;
            height: 180px;

            width: 225px; //游댠游댠游댠
            height: 150px; //游댠游댠游댠

            .image {
              width: 100%;
              height: 100%;
              position: relative;
            }
          }
        }
      }
    }
  }
}

//游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮

@media screen and (max-width: 1024px) {
  .body {
    // border: 3px solid red;

    .titleSection {
      height: 80px; //游댠

      .blogSectionTitle {
        width: 100%;
        padding-right: 0;
      }

      .archiveSectionTitle {
        display: none;
      }
    }

    .outline {
      // border: 3px solid blue;
      width: 100%;
      height: calc(100vh - 180px); //游댠

      //游댮游댮游댮
      .mainSection {
        // border: 5px solid red;
        height: calc(100vh - 180px); //游댠

        //游댯游댯游댯
        .archiveSection {
          // border: 5px solid blue;
          width: 100%;
          height: 130px;
          position: relative;
          padding: 1.5rem 2rem 0;

          @include center;

          .archiveSectionTitleHidden {
            // border: 5px solid aqua;
            @include sectionTitle;
            width: auto;
          }

          ul {
            // border: 5px solid orange;
            height: 100%;
            // padding: 2rem;
            padding: 0rem;
            padding-bottom: 0;

            @include center;
            justify-content: flex-start;
            flex-wrap: wrap;

            li {
              // border: 3px solid greenyellow;
              // border: 3px solid greenye1low;
              margin: 0 1rem 2rem;
              // margin: 0 1rem 1rem;
              margin: 0 1rem 1rem;
              width: calc(33% - 2rem);

              .link {
                padding: 0.8rem;
                font-size: 0.9rem;
              }
            }
          }
        }

        //游릭游릭游릭
        .scrollSection {
          // border: 2px solid greenyellow;
          width: 100%;
          height: 70px;
          padding-bottom: 0rem;
          right: 0px;
          position: relative;
          @include center;
          justify-content: flex-end;
          padding-right: 2rem;

          .scroll {
            // border: 3px solid blue;
            flex-direction: row;

            .scrollTop,
            .scrollDown {
              width: 30px;
              height: 30px;
            }

            .scrollTop {
              margin-bottom: 0rem;
              margin-right: 0.5rem;
            }
          }
        }

        // 游멇멇
        .blogSection {
          // border: 5px solid orange;
          width: 100%; //游댠
          min-height: calc(100vh - 440px); //游댠
          padding: 2rem; //游댠
          padding-top: 0;

          // .blog {
          //   // border: 3px solid red;
          //   background-color: white;
          //   width: 100%;
          //   padding: 2rem;
          //   margin-bottom: 2rem;
          //   border-radius: 10px;
          //   @include center;

          //   .articleBox {
          //     // border: 3px solid blue;
          //     width: calc(100% - 270px);
          //     min-height: 180px;

          //     @include center;
          //     flex-direction: column;

          //     .article {
          //       // border: 3px solid orange;
          //       width: 100%;
          //       // min-height: 90px;
          //       min-height: 110px; //游댠
          //       padding: 1rem;
          //       // padding-left:0;
          //       display: flex;
          //       flex-direction: column;
          //       justify-content: space-between;
          //     }

          //     .button {
          //       // border: 3px solid greenyellow;
          //       width: 100%;
          //       // min-height: 90px;
          //       min-height: 70px; //游댠
          //       @include center;
          //     }
          //   }

          //   .imageBox {
          //     // border: 3px solid magenta;
          //     width: 270px;
          //     height: 180px;

          //     .image {
          //       width: 100%;
          //       height: 100%;
          //       position: relative;
          //     }
          //   }
          // }
        }
      }
    }
  }
}

// 游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯

@media screen and (max-width: 768px) {
  .body {
    // border: 3px solid red;

    .titleSection {
      height: 80px; //游댠

      .blogSectionTitle {
        width: 100%;
        padding-right: 0;
      }

      .archiveSectionTitle {
        display: none;
      }
    }

    .outline {
      // border: 3px solid blue;
      width: 100%;
      height: calc(100vh - 180px); //游댠

      //游댮游댮游댮
      .mainSection {
        // border: 5px solid red;
        height: calc(100vh - 180px); //游댠

        //游댯游댯游댯
        .archiveSection {
          // border: 5px solid blue;
          width: 100%;
          // height: 150px;
          height: 130px;
          position: relative;

          @include center;

          .archiveSectionTitleHidden {
            // border: 5px solid aqua;
            @include sectionTitle;
            width: auto;
          }

          ul {
            // border: 5px solid orange;
            height: 100%;
            // padding: 2rem;
            padding: 0rem;
            padding-bottom: 0;

            @include center;
            justify-content: flex-start;
            flex-wrap: wrap;

            li {
              // border: 3px solid greenyellow;
              // border: 3px solid greenye1low;
              // margin: 0 1rem 2rem;
              margin: 0 1rem 1rem;
              // width: calc(33% - 2rem);
              width: calc(50% - 2rem);

              .link {
                padding: 0.8rem;
                font-size: 0.9rem;
              }
            }
          }
        }

        //游릭游릭游릭
        .scrollSection {
          // border: 2px solid greenyellow;
          width: 100%;
          height: 70px;
          padding-bottom: 0rem;
          right: 0px;
          position: relative;
          @include center;
          justify-content: flex-end;
          padding-right: 2rem;

          .scroll {
            // border: 3px solid blue;
            flex-direction: row;

            .scrollTop,
            .scrollDown {
              width: 30px;
              height: 30px;
            }

            .scrollTop {
              margin-bottom: 0rem;
              margin-right: 0.5rem;
            }
          }
        }

        // 游멇멇
        .blogSection {
          // border: 5px solid orange;
          width: 100%; //游댠
          min-height: calc(100vh - 440px); //游댠
          padding: 2rem; //游댠
          padding-top: 0;

          .blog {
            .articleBox {
              .article {
                .title {
                  font-size: 1rem;
                }

                .publishedAt {
                  font-size: 0.9rem;
                }
              }
            }
          }

          // .blog {
          //   // border: 3px solid red;
          //   background-color: white;
          //   width: 100%;
          //   padding: 2rem;
          //   margin-bottom: 2rem;
          //   border-radius: 10px;
          //   @include center;

          //   .articleBox {
          //     // border: 3px solid blue;
          //     width: calc(100% - 270px);
          //     min-height: 180px;

          //     @include center;
          //     flex-direction: column;

          //     .article {
          //       // border: 3px solid orange;
          //       width: 100%;
          //       // min-height: 90px;
          //       min-height: 110px; //游댠
          //       padding: 1rem;
          //       // padding-left:0;
          //       display: flex;
          //       flex-direction: column;
          //       justify-content: space-between;
          //     }

          //     .button {
          //       // border: 3px solid greenyellow;
          //       width: 100%;
          //       // min-height: 90px;
          //       min-height: 70px; //游댠
          //       @include center;
          //     }
          //   }

          //   .imageBox {
          //     // border: 3px solid magenta;
          //     width: 270px;
          //     height: 180px;

          //     .image {
          //       width: 100%;
          //       height: 100%;
          //       position: relative;
          //     }
          //   }
          // }
        }
      }
    }
  }
}

// 游릭游릭游릭游릭游릭游릭游릭游릭游릭游릭游릭游릭游릭游릭游릭游릭游릭

@media screen and (max-width: 550px) {
  .body {
    .outline {
      .mainSection {
        .archiveSection {
          ul {
            // border: 3px solid red;
            @include center;
            li {
              margin: 0 1rem 2rem;
              margin: 0 1rem 1rem;
              // width: calc(100% - 2rem);
              width: calc(80% - 2rem);

              .link {
                padding: 0.8rem;
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }
  }
}
