.body {
  width: 100%;
  min-height: calc(100vh - 100px);
  position: fixed;
  top: 100px;
  background-image: url("/image/blog-link.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: scroll;
}
.body::after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
}
.body .titleSection {
  width: 100%;
  height: 100px;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body .titleSection::after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
}
.body .titleSection .blogSectionTitle {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  width: calc(100% - 250px);
  padding-right: 80px;
}
@media screen and (max-width: 1024px) {
  .body .titleSection .blogSectionTitle h4 {
    font-size: 0.8rem;
  }
  .body .titleSection .blogSectionTitle h1 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 768px) {
  .body .titleSection .blogSectionTitle h4 {
    font-size: 0.7rem;
  }
  .body .titleSection .blogSectionTitle h1 {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 480px) {
  .body .titleSection .blogSectionTitle h4 {
    font-size: 0.6rem;
  }
  .body .titleSection .blogSectionTitle h1 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 350px) {
  .body .titleSection .blogSectionTitle h4 {
    font-size: 0.6rem;
  }
  .body .titleSection .blogSectionTitle h1 {
    font-size: 0.9rem;
  }
}
.body .titleSection .archiveSectionTitle {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  width: 250px;
}
@media screen and (max-width: 1024px) {
  .body .titleSection .archiveSectionTitle h4 {
    font-size: 0.8rem;
  }
  .body .titleSection .archiveSectionTitle h1 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 768px) {
  .body .titleSection .archiveSectionTitle h4 {
    font-size: 0.7rem;
  }
  .body .titleSection .archiveSectionTitle h1 {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 480px) {
  .body .titleSection .archiveSectionTitle h4 {
    font-size: 0.6rem;
  }
  .body .titleSection .archiveSectionTitle h1 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 350px) {
  .body .titleSection .archiveSectionTitle h4 {
    font-size: 0.6rem;
  }
  .body .titleSection .archiveSectionTitle h1 {
    font-size: 0.9rem;
  }
}
.body .mainSectiom {
  width: 100%;
  height: calc(100vh - 200px);
  position: relative;
  z-index: 10;
  overflow: scroll;
}
.body .mainSectiom .archiveSection {
  width: 250px;
  height: calc(100vh - 240px);
  position: fixed;
  right: 0;
}
.body .mainSectiom .archiveSection .archiveSectionTitleHidden {
  display: none;
}
.body .mainSectiom .archiveSection ul {
  font-family: "Shippori Mincho B1", serif;
  list-style: none;
  width: 100%;
  height: calc(100% - 3rem);
  padding: 3rem 2rem 0 0;
  overflow: scroll;
}
.body .mainSectiom .archiveSection ul li {
  margin-bottom: 2rem;
  border-radius: 10px;
}
.body .mainSectiom .archiveSection ul li .link {
  background-color: darkorange;
  color: white;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body .mainSectiom .archiveSection ul li .link:hover {
  background-color: orange;
  transition: 300ms;
}
.body .mainSectiom .blogSection {
  width: calc(100% - 250px);
  min-height: calc(100vh - 240px);
  padding: 3rem 2rem;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.body .mainSectiom .blogSection .link:nth-last-child(1) {
  margin-bottom: 0;
}
.body .mainSectiom .blogSection .link {
  width: 100%;
  margin-bottom: 3rem;
  border-radius: 10px;
  display: flex;
}
.body .mainSectiom .blogSection .link .blog {
  font-family: "Shippori Mincho B1", serif;
  background-color: white;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body .mainSectiom .blogSection .link .blog:hover {
  background-color: #dddddd;
  transition: 300ms;
}
.body .mainSectiom .blogSection .link .blog .articleBox {
  width: calc(100% - 225px);
  min-height: 150px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.body .mainSectiom .blogSection .link .blog .articleBox .title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.body .mainSectiom .blogSection .link .blog .articleBox .publishedAt {
  font-size: 1rem;
}
.body .mainSectiom .blogSection .link .blog .imageBox {
  width: 225px;
  height: 150px;
}
.body .mainSectiom .blogSection .link .blog .imageBox .image {
  width: 100%;
  height: 100%;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .body .titleSection {
    height: 80px;
  }
  .body .titleSection .blogSectionTitle {
    width: 100%;
    padding-right: 0px;
  }
  .body .titleSection .archiveSectionTitle {
    display: none;
  }
  .body .mainSectiom {
    height: calc(100vh - 180px);
  }
  .body .mainSectiom .archiveSection {
    width: 100%;
    height: 130px;
    position: relative;
    padding: 1.5rem 2rem;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .body .mainSectiom .archiveSection .archiveSectionTitleHidden {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    width: auto;
  }
}
@media screen and (max-width: 1024px) and (max-width: 1024px) {
  .body .mainSectiom .archiveSection .archiveSectionTitleHidden h4 {
    font-size: 0.8rem;
  }
  .body .mainSectiom .archiveSection .archiveSectionTitleHidden h1 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1024px) and (max-width: 768px) {
  .body .mainSectiom .archiveSection .archiveSectionTitleHidden h4 {
    font-size: 0.7rem;
  }
  .body .mainSectiom .archiveSection .archiveSectionTitleHidden h1 {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 1024px) and (max-width: 480px) {
  .body .mainSectiom .archiveSection .archiveSectionTitleHidden h4 {
    font-size: 0.6rem;
  }
  .body .mainSectiom .archiveSection .archiveSectionTitleHidden h1 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1024px) and (max-width: 350px) {
  .body .mainSectiom .archiveSection .archiveSectionTitleHidden h4 {
    font-size: 0.6rem;
  }
  .body .mainSectiom .archiveSection .archiveSectionTitleHidden h1 {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 1024px) {
  .body .mainSectiom .archiveSection ul {
    height: 100%;
    padding: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .body .mainSectiom .archiveSection ul li {
    margin: 0 1rem 1rem;
    width: calc(33% - 2rem);
  }
  .body .mainSectiom .archiveSection ul li .link {
    padding: 0.8rem;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 1024px) {
  .body .mainSectiom .blogSection {
    width: 100%;
    min-height: calc(100vh - 350px);
    padding: 1.5rem 2rem 3rem;
  }
  .body .mainSectiom .blogSection .link .blog {
    background-color: white;
    width: 100%;
    padding: 1rem;
  }
  .body .mainSectiom .blogSection .link .blog .articleBox {
    width: calc(100% - 195px);
    min-height: 130px;
  }
  .body .mainSectiom .blogSection .link .blog .articleBox .title {
    font-size: 1.1rem;
  }
  .body .mainSectiom .blogSection .link .blog .articleBox .publishedAt {
    font-size: 0.9rem;
  }
  .body .mainSectiom .blogSection .link .blog .imageBox {
    width: 195px;
    height: 130px;
  }
}
@media screen and (max-width: 768px) {
  .body .mainSectiom .archiveSection ul li {
    width: calc(50% - 2rem);
  }
  .body .mainSectiom .blogSection {
    min-height: calc(100vh - 395px);
  }
  .body .mainSectiom .blogSection .link .blog {
    padding: 0.6rem;
  }
  .body .mainSectiom .blogSection .link .blog .articleBox {
    width: calc(100% - 165px);
    min-height: 110px;
    padding: 0.6rem;
  }
  .body .mainSectiom .blogSection .link .blog .articleBox .title {
    font-size: 0.9rem;
  }
  .body .mainSectiom .blogSection .link .blog .articleBox .publishedAt {
    font-size: 0.8rem;
  }
  .body .mainSectiom .blogSection .link .blog .imageBox {
    width: 165px;
    height: 110px;
  }
}
@media screen and (max-width: 550px) {
  .body .mainSectiom .archiveSection ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .body .mainSectiom .archiveSection ul li {
    width: calc(80% - 2rem);
  }
}
@media screen and (max-width: 480px) {
  .body {
    height: calc(100vh - 80px);
    top: 80px;
  }
  .body .titleSection {
    height: 60px;
  }
  .body .mainSectiom {
    border: 3px solid blue;
    min-height: calc(100vh - 140px);
  }
  .body .mainSectiom .archiveSection ul li .link {
    padding: 0.6rem;
    font-size: 0.8rem;
  }
  .body .mainSectiom .blogSection {
    min-height: calc(100vh - 335px);
  }
  .body .mainSectiom .blogSection .link {
    margin-bottom: 2rem;
  }
  .body .mainSectiom .blogSection .link .blog .articleBox {
    width: calc(100% - 120px);
    min-height: 80px;
  }
  .body .mainSectiom .blogSection .link .blog .articleBox .title {
    font-size: 0.8rem;
  }
  .body .mainSectiom .blogSection .link .blog .articleBox .publishedAt {
    font-size: 0.7rem;
  }
  .body .mainSectiom .blogSection .link .blog .imageBox {
    width: 120px;
    height: 80px;
  }
}
@media screen and (max-width: 390px) {
  .body .mainSectiom .archiveSection ul li {
    width: calc(95% - 2rem);
  }
  .body .mainSectiom .blogSection {
    min-height: calc(100vh - 335px);
  }
  .body .mainSectiom .blogSection .link .blog .articleBox {
    width: calc(100% - 105px);
    min-height: 70px;
  }
  .body .mainSectiom .blogSection .link .blog .articleBox .title {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
  }
  .body .mainSectiom .blogSection .link .blog .articleBox .publishedAt {
    font-size: 0.6rem;
  }
  .body .mainSectiom .blogSection .link .blog .imageBox {
    width: 105px;
    height: 70px;
  }
}
@media screen and (max-width: 350px) {
  .body .mainSectiom .archiveSection ul li {
    width: calc(100% - 2rem);
  }
  .body .mainSectiom .blogSection {
    min-height: calc(100vh - 335px);
  }
  .body .mainSectiom .blogSection .link .blog .articleBox {
    width: calc(100% - 90px);
    min-height: 60px;
  }
  .body .mainSectiom .blogSection .link .blog .articleBox .title {
    font-size: 0.6rem;
  }
  .body .mainSectiom .blogSection .link .blog .articleBox .publishedAt {
    font-size: 0.5rem;
  }
  .body .mainSectiom .blogSection .link .blog .imageBox {
    width: 90px;
    height: 60px;
  }
}
/*# sourceMappingURL=latest-blog.module.css.map */