.footer {
  width: 100%;
  height: 40px;
  background-color: #b2b2b2;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    height: 30px;

    p {
      font-size: 0.8rem;
    }
  }
}
