.body {
  background-color: white;
  width: 100%;
  min-height: calc(100vh - 140px);
  position: absolute;
  top: 100px;
}
.body .section {
  width: 100%;
  min-height: calc(100vh - 140px);
  padding: 3rem;
  background-image: url("/image/all-menu/barrel.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.body .section::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}
.body .section .main {
  width: 70%;
  z-index: 5;
}
.body .section .main .sectionTitle {
  color: white;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.body .section .main .itemBox {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template: "title image" "about image" "detail image"/70% 30%;
}
.body .section .main .itemBox .title {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.3rem;
}
.body .section .main .itemBox .about {
  grid-area: about;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.body .section .main .itemBox .about .price {
  font-size: 0.9rem;
  margin-right: 1.5rem;
}
.body .section .main .itemBox .about .product {
  font-size: 0.9rem;
}
.body .section .main .itemBox .detail {
  grid-area: detail;
  padding: 1rem 1rem 0;
  font-size: 0.9rem;
  line-height: 1.8;
}
.body .section .main .itemBox .image {
  grid-area: image;
  position: relative;
  height: 280px;
}
.body .section .main .back {
  color: white;
  width: 100%;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .body .section .main {
    width: 90%;
  }
  .body .section .main .itemBox .title {
    font-size: 1.1rem;
  }
  .body .section .main .itemBox .about .price {
    font-size: 0.8rem;
  }
  .body .section .main .itemBox .about .product {
    font-size: 0.8rem;
  }
  .body .section .main .itemBox .detail {
    font-size: 0.8rem;
  }
  .body .section .main .back {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .body {
    min-height: calc(100vh - 130px);
  }
  .body .section {
    min-height: calc(100vh - 130px);
  }
  .body .section .main .itemBox {
    grid-template: "title " "about" "image" "detail"/1fr;
  }
  .body .section .main .itemBox .title {
    padding: 1rem 0;
  }
  .body .section .main .itemBox .about {
    padding: 1rem 0;
  }
  .body .section .main .itemBox .image {
    height: 240px;
  }
  .body .section .main .itemBox .detail {
    padding: 1rem 0 0;
  }
}
@media screen and (max-width: 600px) {
  .body .section .main {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .body {
    min-height: calc(100vh - 110px);
    top: 80px;
  }
  .body .section {
    min-height: calc(100vh - 110px);
  }
  .body .section .main {
    width: 100%;
  }
  .body .section .main .sectionTitle {
    padding-bottom: 2rem;
  }
  .body .section .main .sectionTitle h4 {
    font-size: 0.8rem;
  }
  .body .section .main .sectionTitle h1 {
    font-size: 1.3rem;
  }
  .body .section .main .itemBox .about {
    flex-direction: column;
  }
  .body .section .main .itemBox .about .price {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
}
/*# sourceMappingURL=[id].module.css.map */