@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  // border: 3px solid red;
  background-color: white;
  width: 100%;
  // min-height: calc(100vh - 100px);
  min-height: calc(100vh - 140px);
  position: absolute;
  top: 100px;

  .section {
    // border: 3px solid blue;
    width: 100%;
    // min-height: calc(100vh - 100px);
    min-height: calc(100vh - 140px);
    // padding: calc(100px + 3rem) 2.5rem 3rem;
    padding: 3rem;

    background-image: url("/image/all-menu/barrel.jpg"); //🔥
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    @include center;
    flex-direction: column;

    &::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
    }

    .main {
      width: 70%;
      // border: 3px solid red;
      z-index: 5;

      .sectionTitle {
        // border: 3px solid blue;
        color: white;
        padding-bottom: 3rem;
        @include center;
        flex-direction: column;
      }

      .itemBox {
        width: 100%;
        padding: 1rem;
        border-radius: 10px;
        // border: 3px dashed black;
        background-color: white;
        @include center;
        display: grid;
        grid-template:
          "title image"
          "about image"
          "detail image"
          /70% 30%;

        .title {
          // border: 3px solid red;
          grid-area: title;
          @include center;
          padding: 0.5rem;
        }

        .about {
          grid-area: about;
          // border: 3px solid blue;
          @include center;
          padding: 0.5rem;
        }

        .detail {
          // border: 3px solid greenyellow;
          grid-area: detail;
          padding: 0.5rem;
        }

        .image {
          // border: 3px solid orange;
          grid-area: image;
          position: relative;
          height: 100%;
        }
      }
      .back {
        width: 100%;
        padding-top: 3rem;
        @include center;
        // border: 3px solid magenta;
        color: white;
      }
    }
  }
}
