@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  background-color: white;
  width: 100%;
  // min-height: calc(100vh - 100px);
  min-height: calc(100vh - 140px);
  position: absolute;
  top: 100px;

  .section {
    // border: 3px solid blue;
    width: 100%;
    // min-height: calc(100vh - 100px);
    min-height: calc(100vh - 140px);
    // padding: calc(100px + 3rem) 2.5rem 3rem;
    padding: 3rem;

    background-image: url("/image/all-menu/barrel.jpg"); //🔥
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    @include center;
    flex-direction: column;

    &::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
    }

    .main {
      width: 70%;
      // border: 3px solid red;
      z-index: 5;

      .sectionTitle {
        // border: 3px solid blue;
        color: white;
        padding-bottom: 3rem;
        @include center;
        flex-direction: column;
      }

      .itemBox {
        width: 100%;
        padding: 1rem;
        border-radius: 10px;
        // border: 3px dashed black;
        background-color: white;
        @include center;
        display: grid;
        grid-template:
          "title image"
          "about image"
          "detail image"
          /70% 30%;

        .title {
          // border: 3px solid red;
          grid-area: title;
          @include center;
          padding: 0.5rem;
          font-size: 1.3rem;
        }

        .about {
          grid-area: about;
          // border: 3px solid blue;
          @include center;
          padding: 0.5rem;

          .price {
            // border: 3px solid red;
            font-size: 0.9rem;
            margin-right: 1.5rem;
          }

          .product {
            // border: 3px solid blue;
            font-size: 0.9rem;
          }
        }

        .detail {
          // border: 3px solid greenyellow;
          grid-area: detail;
          // padding: 0.5rem;
          padding: 0.5rem 1rem 0.5rem 0.5rem;
          font-size: 0.9rem;
          line-height: 1.8;
        }

        .image {
          // border: 3px solid orange;
          grid-area: image;
          position: relative;
          height: 100%;
          height: 80%;
          height: 280px;
        }
      }
      .back {
        width: 100%;
        padding-top: 3rem;
        @include center;
        // border: 3px solid magenta;
        color: white;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .body {
    .section {
      .main {
        width: 90%;

        .itemBox {
          .title {
            font-size: 1.1rem;
          }

          .about {
            .price {
              font-size: 0.8rem;
            }

            .product {
              font-size: 0.8rem;
            }
          }

          .detail {
            font-size: 0.8rem;
          }
        }
        .back {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .body {
    .section {
      .main {
        .itemBox {
          grid-template:
            "title "
            "about"
            "image"
            "detail"
            /1fr;

          .detail {
            padding: 1rem;
          }

          .image {
            height: 240px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .body {
    .section {
      .main {
        width: 100%;
      }
    }
  }
}
