.body {
  border: 5px solid red;
  background-color: white;
  width: 100%;
  min-height: calc(100vh - 100px);
  position: absolute;
  top: 100px;
}
.body .main {
  border: 5px solid blue;
  width: 100%;
  min-height: calc(100vh - 100px);
}
.body .main .mainImageSection {
  width: 100%;
  height: 350px;
  background-image: url("/image/mainImage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.body .main .sentenceSection {
  padding: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.body .main .sentenceSection .sentenceBox {
  width: 80%;
}
.body .main .sentenceSection .sentenceBox .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3rem;
}
.body .main .sentenceSection .sentenceBox .title h1,
.body .main .sentenceSection .sentenceBox .title h4 {
  margin: 0;
}
.body .main .sentenceSection .sentenceBox .sentence {
  width: 100%;
}
.body .main .sentenceSection .sentenceBox .sentence p {
  line-height: 1.8;
  font-size: 1rem;
}
.body .main .sentenceSection .sentenceBox:nth-child(1) {
  margin-bottom: 5rem;
}
.body .main .linkSection {
  background-color: rgb(187, 187, 187);
  width: 100%;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body .main .linkSection .linkBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.body .main .linkSection .linkBox .linkItem:nth-child(2) {
  margin: 0 2rem;
}
.body .main .linkSection .linkBox .linkItem {
  background-color: black;
  width: 33%;
  height: 280px;
  position: relative;
  border-radius: 10px;
  box-shadow: 10px 10px 10px gray;
}
.body .main .linkSection .linkBox .linkItem .image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  border-radius: 10px;
  opacity: 0.8;
}
.body .main .linkSection .linkBox .linkItem .image:hover {
  opacity: 0.5;
  transition: 300ms;
}
.body .main .linkSection .linkBox .linkItem h1 {
  color: white;
  position: absolute;
  z-index: 1;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.body .main .accessSection {
  padding: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body .main .accessSection .accessMain {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.body .main .accessSection .accessMain .accessTitle {
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.body .main .accessSection .accessMain .accessBox {
  display: flex;
}
.body .main .accessSection .accessMain .accessBox .map {
  width: 40%;
  display: flex;
}
.body .main .accessSection .accessMain .accessBox .map .mapSize {
  width: 100%;
}
.body .main .accessSection .accessMain .accessBox .sentenceBox {
  width: 60%;
  padding: 2rem 0rem 2rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.body .main .accessSection .accessMain .accessBox .sentenceBox .sentenceItem:nth-last-child(1) {
  margin-bottom: 0;
}
.body .main .accessSection .accessMain .accessBox .sentenceBox .sentenceItem {
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}
.body .main .accessSection .accessMain .accessBox .sentenceBox .sentenceItem .title {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  padding: 0.3rem;
}
.body .main .accessSection .accessMain .accessBox .sentenceBox .sentenceItem .sentence {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 0.3rem;
  font-size: 0.9rem;
}
.body .main .accessSection .accessMain .accessBox .sentenceBox .sentenceItem .outLine {
  width: 100%;
}
/*# sourceMappingURL=Home.module.css.map */