@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button {
  color: white;
  padding: 0.5rem 1.5rem;
  // margin: 0 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.body {
  // border: 5px solid red;
  background-color: white;
  width: 100%;
  min-height: calc(100vh - 100px);
  position: absolute;
  top: 100px;

  .main {
    // border: 5px solid blue;
    width: 100%;
    min-height: calc(100vh - 100px);

    //🔥
    .mainImageSection {
      // border: 5px solid greenyellow;
      width: 100%;
      height: 350px;
      background-image: url("/image/mainImage.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    //🔥
    .sentenceSection {
      // border: 5px solid greenyellow;
      padding: 5rem;
      width: 100%;
      @include center;
      flex-direction: column;

      .sentenceBox {
        width: 80%;

        .title {
          width: 100%;
          @include center;
          flex-direction: column;
          padding-bottom: 3rem;

          h1,
          h4 {
            margin: 0;
          }
        }

        .sentence {
          width: 100%;

          p {
            line-height: 1.8;
            font-size: 1rem;
          }
        }
      }

      .sentenceBox:nth-child(1) {
        margin-bottom: 5rem;
      }
    }

    //🔥
    .linkSection {
      // border: 5px solid greenyellow;
      background-color: rgb(187, 187, 187);
      width: 100%;
      // padding: 3rem;
      padding: 5rem;
      @include center;

      .linkBox {
        // border: 5px solid blue;
        width: 100%;
        @include center;
        justify-content: space-around;

        .linkItem:nth-child(2) {
          margin: 0 2rem;
        }

        .linkItem {
          // border: 5px solid greenyellow;
          background-color: black;
          width: 33%;
          height: 280px;
          position: relative;
          border-radius: 10px;
          box-shadow: 10px 10px 10px gray;

          .image {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            top: 0px;
            left: 0px;
            border-radius: 10px;
            opacity: 0.8;

            &:hover {
              opacity: 0.5;
              transition: 300ms;
            }
          }

          h1 {
            color: white;
            position: absolute;
            z-index: 1;
            font-size: 2rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    //🔥
    .accessSection {
      // border: 5px solid greenyellow;
      // padding: 3rem;
      padding: 5rem;
      width: 100%;
      @include center;

      .accessMain {
        // border: 5px solid red;
        width: 80%;
        display: flex;
        flex-direction: column;

        .accessTitle {
          // border: 5px solid blue;
          padding-bottom: 3rem;
          @include center;
          flex-direction: column;
        }

        .accessBox {
          // border: 5px solid orange;
          display: flex;

          .map {
            // border: 5px solid greenyellow;
            width: 40%;
            display: flex;

            .mapSize {
              width: 100%;
            }
          }

          .sentenceBox {
            // border: 5px solid magenta;
            width: 60%;
            // padding: 2rem 0rem 2rem 2rem;
            padding: 2rem 0rem 2rem 3rem;
            // display: flex;
            @include center;
            flex-direction: column;

            .sentenceItem:nth-last-child(1) {
              margin-bottom: 0;
            }

            .sentenceItem {
              // border: 5px solid blue;
              border-bottom: 1px solid black;
              width: 100%;
              @include center;
              margin-bottom: 1.5rem;

              .title {
                // border: 5px solid orange;
                width: 100px;
                height: 100%;
                @include center;
                justify-content: flex-start;
                font-weight: bold;
                padding: 0.3rem; //🔥
              }

              .sentence {
                // border: 5px solid greenyellow;
                margin: 0;
                width: 100%;
                height: 100%;
                @include center;
                justify-content: flex-start;
                padding: 0.3rem; //🔥
                font-size: 0.9rem;
              }

              .outLine {
                // border: 3px solid magenta;
                width: 100%;
              }
            }
          }
        }
      }
    }

    //🔥
    .contactSection {
      width: 100%;
      padding: 5rem;
      min-height: calc(100vh - (100px + 40px));
      background-image: url("/image/contact01.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @include center;
      position: relative; //🔥

      &::after {
        position: absolute; //🔥
        content: "";
        background-color: rgba(0, 0, 0, 0.5);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
      }

      .contactMain {
        // border: 5px solid red;
        position: relative; //🔥
        z-index: 1; //🔥
        // width: 80%;
        width: 70%;

        .contactTitle {
          // border: 5px solid blue;
          width: 100%;
          @include center;
          flex-direction: column;
          padding-bottom: 3rem;

          h1,
          h4 {
            color: white;
          }
        }

        .form {
          // border: 5px solid red;
          @include center;
          flex-direction: column;

          .contactItem {
            // border: 5px solid blue;
            width: 100%;
            display: flex;
            margin-bottom: 2rem;

            .label {
              // border: 5px solid greenyellow;
              border-left: 5px solid white;
              width: 200px;
              color: white;
              padding: 0.5rem;
              font-weight: bold;
              @include center;
              justify-content: flex-start;
            }

            .input {
              // border: 5px solid orange;
              width: 100%;
              padding: 0.5rem;
              border-radius: 5px;
            }

            .textarea {
              width: 100%;
              height: 120px;
              border-radius: 5px;
              line-height: 1.8;
            }
          }

          .buttonBox {
            // border: 5px solid red;
            width: 100%;
            @include center;

            .submitButton {
              @include button;
              background-color: red;
              margin-right: 1rem;
            }

            .resetButton {
              @include button;
              background-color: gray;
            }

            // button[type="submit"] {
            //   @include button;
            //   background-color: orangered;
            // }

            // button[type="reset"] {
            //   @include button;
            //   background-color: gray;
            // }
          }
        }
      }
    }
  }
}
