@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  border: 5px solid red;
  background-color: white;
  width: 100%;
  min-height: calc(100vh - 100px);
  position: absolute;
  top: 100px;

  .main {
    border: 5px solid blue;
    width: 100%;
    min-height: calc(100vh - 100px);

    //🔥
    .mainImageSection {
      border: 5px solid greenyellow;
      width: 100%;
      height: 350px;
      background-image: url("/image/mainImage.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    //🔥
    .sentenceSection {
      border: 5px solid greenyellow;
      padding: 5rem;
      width: 100%;
      @include center;
      flex-direction: column;

      .sentenceBox {
        width: 80%;

        .title {
          width: 100%;
          @include center;
          flex-direction: column;
          padding-bottom: 3rem;

          h1,
          h4 {
            margin: 0;
          }
        }

        .sentence {
          width: 100%;

          p {
            line-height: 1.8;
            font-size: 1rem;
          }
        }
      }

      .sentenceBox:nth-child(1) {
        margin-bottom: 5rem;
      }
    }

    //🔥
    .linkSection {
      border: 5px solid greenyellow;
      background-color: rgb(187, 187, 187);
      width: 100%;
      // padding: 3rem;
      padding: 5rem;
      @include center;

      .linkBox {
        // border: 5px solid blue;
        width: 100%;
        @include center;
        justify-content: space-around;

        .linkItem:nth-child(2) {
          margin: 0 2rem;
        }

        .linkItem {
          // border: 5px solid greenyellow;
          background-color: black;
          width: 33%;
          height: 280px;
          position: relative;
          border-radius: 10px;
          box-shadow: 10px 10px 10px gray;

          .image {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            top: 0px;
            left: 0px;
            border-radius: 10px;
            opacity: 0.8;

            &:hover {
              opacity: 0.5;
              transition: 300ms;
            }
          }

          h1 {
            color: white;
            position: absolute;
            z-index: 1;
            font-size: 2rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}
