@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin section {
  width: 100%;
  min-height: calc(100vh - 140px);
  padding: 3rem;

  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  @include center;
  flex-direction: column;

  &::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }

  .main {
    width: 70%;
    z-index: 5;

    .sectionTitle {
      color: white;
      padding-bottom: 3rem;
      @include center;
      flex-direction: column;
    }

    .itemBox {
      width: 100%;
      padding: 1rem;
      border-radius: 10px;
      background-color: white;
      @include center;
      display: grid;
      grid-template:
        "title image"
        "about image"
        "detail image"
        /70% 30%;

      .title {
        grid-area: title;
        @include center;
        padding: 1rem;
        font-size: 1.3rem;
      }

      .about {
        grid-area: about;
        @include center;
        padding: 1rem;

        .price {
          font-size: 0.9rem;
          margin-right: 1.5rem;
        }

        .product {
          font-size: 0.9rem;
        }
      }

      .detail {
        grid-area: detail;
        padding: 1rem 1rem 0;
        font-size: 0.9rem;
        line-height: 1.8;
      }

      .image {
        grid-area: image;
        position: relative;
        height: 280px;
      }
    }
    .backButtonBox {
      color: white;
      width: 100%;
      padding-top: 3rem;
      @include center;
    }
  }
}

.body {
  background-color: white;
  width: 100%;
  min-height: calc(100vh - 140px);
  position: absolute;
  top: 100px;

  .barrelSection {
    @include section;
    background-image: url("/image/all-menu/barrel.jpg");
  }

  .bottleSection {
    @include section;
    background-image: url("/image/all-menu/bottle.jpg");
  }

  .cocktailSection {
    @include section;
    background-image: url("/image/all-menu/cocktail.jpg");
  }
}

@media screen and (max-width: 1024px) {
  .body {
    .barrelSection,
    .bottleSection,
    .cocktailSection {
      .main {
        width: 90%;

        .itemBox {
          .title {
            font-size: 1.1rem;
          }

          .about {
            .price {
              font-size: 0.8rem;
            }

            .product {
              font-size: 0.8rem;
            }
          }

          .detail {
            font-size: 0.8rem;
          }
        }
        .back {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .body {
    min-height: calc(100vh - 130px);

    .barrelSection,
    .bottleSection,
    .cocktailSection {
      min-height: calc(100vh - 130px);
      .main {
        .itemBox {
          padding: 1rem 0.8rem;
          grid-template:
            "title "
            "about"
            "image"
            "detail"
            /1fr;

          .title {
            padding: 1rem 0;
          }

          .about {
            padding: 1rem 0;
          }

          .image {
            height: 240px;
          }

          .detail {
            padding: 1rem 0 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .body {
    .barrelSection,
    .bottleSection,
    .cocktailSection {
      .main {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .body {
    min-height: calc(100vh - 110px);
    top: 80px;

    .barrelSection,
    .bottleSection,
    .cocktailSection {
      min-height: calc(100vh - 110px);
      padding: 3rem 2rem;

      .main {
        width: 100%;

        .sectionTitle {
          padding-bottom: 2rem;

          h4 {
            font-size: 0.8rem;
          }

          h1 {
            font-size: 1.3rem;
          }
        }

        .itemBox {
          padding: 1rem 0.8rem;

          .title {
            font-size: 1rem;
          }

          .about {
            flex-direction: column;

            .price {
              margin-right: 0rem;
              margin-bottom: 1rem;

              font-size: 0.8rem;
            }

            .product {
              font-size: 0.8rem;
            }
          }

          .detail {
            font-size: 0.8rem;
          }
        }

        .back {
          // padding-top: 3rem;
          padding-top: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .body {
    .barrelSection,
    .bottleSection,
    .cocktailSection {
      .main {
        .itemBox {
          .title {
            font-size: 0.8rem;
          }

          .about {
            .price {
              font-size: 0.75rem;
            }

            .product {
              font-size: 0.75rem;
            }
          }

          .detail {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .body {
    .barrelSection,
    .bottleSection,
    .cocktailSection {
      .main {
        .itemBox {
          .title {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}
